<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/475e944a02.js" crossorigin="anonymous"></script>
    <title>Jogo Genius</title>
</head>

<body>
    <div class="main-game">
        <div class="genius">
            <div class="blue">
                <img src="/images/azul.jpg">
            </div>
            <div class="orange">
                <img src="/images/laranja.jpg">
            </div>
            <div class="brown">
                <img src="/images/marrom.jpg">
            </div>
            <div class="green">
                <img src="/images/verde.jpg">
            </div>
            <div class="blue2"></div>
            <div class="orange2"></div>
            <div class="brown2"></div>
            <div class="green2"></div>
        </div>
    </div>
    <script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>