body {
    margin: 0;
    background: rgb(223, 194, 163);
    justify-content: center;
    align-items: center;
}

.main-game {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'azul laranja' 'marrom verde';
    grid-gap: 10px;
    border: 1px rgb(92, 78, 70);
    background-color: rgb(92, 78, 70);
    border-radius: 100%;
    width: 40vw;
    height: 40vw;
    padding: 10px;
}

.genius img {
    width: 100%;
}

.blue {
    grid-area: azul;
    border-top-left-radius: 100%;
    width: calc(20vw - 5px);
    overflow: hidden;
}

.orange {
    grid-area: laranja;
    border-top-right-radius: 100%;
    width: calc(20vw - 5px);
    overflow: hidden;
}

.brown {
    grid-area: marrom;
    border-bottom-left-radius: 100%;
    width: calc(20vw - 5px);
    overflow: hidden;
}

.green {
    grid-area: verde;
    border-bottom-right-radius: 100%;
    width: calc(20vw - 5px);
    overflow: hidden;
}

.blue2 {
    grid-area: azul;
    background-color: blue;
    border-top-left-radius: 100%;
    overflow: hidden;
    opacity: 0.1;
}

.orange2 {
    grid-area: laranja;
    background-color: rgb(255, 145, 0);
    border-top-right-radius: 100%;
    overflow: hidden;
    opacity: 0.1;
}

.brown2 {
    grid-area: marrom;
    background-color: rgb(189, 152, 124);
    border-bottom-left-radius: 100%;
    overflow: hidden;
    opacity: 0.1;
}

.green2 {
    grid-area: verde;
    background-color: green;
    border-bottom-right-radius: 100%;
    overflow: hidden;
    opacity: 0.1;
}

.selected {
    opacity: 0.5;
}