body {
    margin: 0;
    background: rgb(223, 194, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'azul laranja' 'marrom verde';
    grid-gap: 10px;
    border: 1px rgb(92, 78, 70);
    background-color: rgb(92, 78, 70);
    border-radius: 100%;
    width: 50vw;
    height: 50vw;
    padding: 10px;
}

.genius img {
    width: 100%;
}

.blue {
    grid-area: azul;
    border-top-left-radius: 100%;
    width: calc(25vw - 5px);
    overflow: hidden;
}

.orange {
    grid-area: laranja;
    border-top-right-radius: 100%;
    width: calc(25vw - 5px);
    overflow: hidden;
}

.brown {
    grid-area: marrom;
    border-bottom-left-radius: 100%;
    width: calc(25vw - 5px);
    overflow: hidden;
}

.green {
    grid-area: verde;
    border-bottom-right-radius: 100%;
    width: calc(25vw - 5px);
    overflow: hidden;
}

.blue2 {
    grid-area: azul;
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 100%;
    overflow: hidden;
}

.orange2 {
    grid-area: laranja;
    background-color: rgba(0, 0, 0, 0);
    border-top-right-radius: 100%;
    overflow: hidden;
}

.brown2 {
    grid-area: marrom;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 100%;
    overflow: hidden;
}

.green2 {
    grid-area: verde;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-right-radius: 100%;
    overflow: hidden;
}

.selected {
    opacity: 0.4;
}